@model Project1Phase1.ViewModels.RelationshipVM

@{
    ViewData["Title"] = "Relationship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:center">
    <div class="row">
        <h2>UserA & UserB Relationship</h2>
    </div>
    <div class="row">
        <div class="col-lg-4" style="text-align: center">
            <h1>UserA</h1>
            <img src="~/images/profile-pictures.png" style="width: 75%" />
        </div>
        <div class="col-lg-4" style="text-align: center; height: 100%; padding: 7% 0">
            <img src="~/images/two-way-arrows.png" style="width: 25%; height: 100%; vertical-align:middle" />
        </div>
        <div class="col-lg-4" style="text-align: center">
            <h1>UserB</h1>
            <img src="~/images/profile-pictures.png" style="width: 75%" />
        </div>
    </div>
    <div class="row" style="font-size: 2em">
        <lable>Total balance:</lable>
        <span style="border: 2px solid black">$ 100</span>
    </div>
    <div class="row">
        <form method="get" action="#">
            <lable>Payment amount:</lable>
            <input type="text" />
            <button type="submit">Make a payment</button>
        </form>
    </div>

   

    <div class="row">
        <table style="border: double; margin: auto">
            <caption style="text-align: center">
                Balance history
            </caption>
            <colgroup>
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
                <col style="width:20%">
            </colgroup>
            <thead style="text-align: center">
                <tr>
                    <th>Date</th>
                    <th>Type of bill</th>
                    <th>Total amount of bill</th>
                    <th>Amount of bill per person</th>
                    <th>Total balance</th>
                </tr>
            </thead>
            <tbody style="text-align: left">
                <tr>
                    <td>10-7-12</td>
                    <td>Rent</td>
                    <td>$ 2000</td>
                    <td>$ 500</td>
                    <td>+ $ 465</td>
                </tr>
                <tr>
                    <td>10-10-12</td>
                    <td>Gas</td>
                    <td>$ 100</td>
                    <td>$ 25</td>
                    <td>- $ 35</td>
                </tr>
                <tr>
                    <td>10-9-12</td>
                    <td>Hydro</td>
                    <td>$ 40</td>
                    <td>$ 10</td>
                    <td>- $ 10</td>
                </tr>
                <tr style="text-align: center">
                    <td colspan="5"><a>Show more...</a></td>
                </tr>
            </tbody>
        </table>

       
    </div>
    <hr />
    <div class="row">
        <h2>@Model.CurrentUser.FirstName & @Model.Roommate.FirstName Relationship</h2>
    </div>
    <h2>Transactions List</h2>
    <table class="table">
       
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Name</th>
                <th>Total Amount</th>
                <th>Amount per person</th>
            </tr>

            @foreach (var transaction in Model.OneRoommateTranstactions)
            {
                <tr>
                    
                    <td>@transaction.Transaction.DateTime</td>
                    <td>@transaction.Transaction.Type</td>
                    <td>@transaction.Transaction.Name</td>
                    <td>@transaction.Transaction.AmountTotal</td>
                    <td>@transaction.AmountToReceiver</td>
                    
                </tr>
            }

    </table>
    <br />
    <div class="row" style="font-size: 2em">
        <lable>Total balance:</lable>
        <span style="border: 2px solid black">$@Model.RelationshipBalance</span>
    </div>
    <div class="row">
        <form method="get" action="#">
            <lable>Payment amount:</lable>
            <input type="text" />
            <button type="submit">Make a payment</button>
        </form>
    </div>
</div>

